/28_uniform_buffer_object/gl.log
/28_uniform_buffer_object/cubemap
**/*.gcda
**/*.gcno
**/gl.log

# ignore all executables
first_test/demo
00_hello_triangle/hellot
00_hello_triangle_gl2.1/hellot
01_extended_init/extinit
02_shaders/shaders
